@import url(./reset.less);
@import url(./global.less);

// 滚动条外观样式
/* 滚动条宽度 */
::-webkit-scrollbar {
  width: 6px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}
::-webkit-scrollbar-track { 
  background-color: #fff;
  border-radius: 3px;
}